---
layout: default
permalink: /for-charities/
nav_highlight: /for-charities
---

{% assign charities_text = site.data.for_charities_text %}

<div class="bg-all-hands cover bg-top ph3 ph5-ns pv5 pv6-ns">
  <div class="bg-navy pv3 ph4 mw6 ml4-ns">
    <h2 class="teal">Helping nonprofits make innovative use of technology to address social challenges</h2>
  </div>
</div>

<div class="mw7 center pa4 pb5">
  <h2 class="teal f3 tc mb5 fw7">Our programmes for charities</h2>
  <div class="flex flex-wrap overflow-hidden">

    {% capture fuse_link %}
      {% link _pages/for-charities/fuse.html %}
    {% endcapture %}

    <div class="measure w-100 w-50-ns ph3 tc equal-height-column flex flex-column justify-between">
      {% include image_block_link.html
                 link=fuse_link
                 image=site.data.logos.fuse
                 alt="fuse"
                 height="100px" %}

      <h3 class="teal fw4 tc">The world's first only non profit technology accelerator</h3>
      <div>{{ charities_text.fuse_blurb | markdownify }}</div>
      <div class="center mw5 f4 mb5">
        {% include button.html text="More about Fuse" link=fuse_link %}
      </div>
    </div>

    {% capture fellowship_link %}
      {% link _pages/for-charities/fellowship.html %}
    {% endcapture %}

    <div class="measure w-100 w-50-ns ph3 tc equal-height-column flex flex-column justify-between">
      {% include image_block_link.html
                 link=fellowship_link
                 image=site.data.logos.fellowship
                 alt="fellowship"
                 height="100px" %}

      <h3 class="teal fw4 tc">Helping nonprofit senior leaders and CEOs understand digital</h3>
      <div>{{ charities_text.fellowship_blurb | markdownify }}</div>
      <div class="center f4 mb5">
        {% include button.html text="More about Fellowship" link=fellowship_link %}
      </div>
    </div>

  </div>
</div>

<div class="bg-light-purple pt4 pb5">
  <div class="mw7 center tc">
    <h2 class="white f3">Training and Learning</h2>
    <div class="white measure center">
      {{ charities_text.training_and_learning.headline | markdownify }}
    </div>

    <div class="flex flex-wrap pb5">
      {% for item in charities_text.training_and_learning.sessions %}

        <div class="w-100 w-50-ns pv3 ph2 overflow-hidden">
          <div class="bg-white equal-height-column pv3 ph4">
            <h3 class="f5 fw7 teal">{{ item.title }}</h3>
            <div class="silver">{{ item.text | markdownify }}</div>
          </div>
        </div>

      {% endfor %}
    </div>
  </div>
</div>

<div class="bg-center cover bg-postit-1 pb6">
  <div class="mw7 center">
    <h2 class="ma0 pv5 tc fw7 f3">Bespoke Consultancy</h2>

    <div class="flex flex-wrap white tc overflow-hidden ph1">
      {% for item in charities_text.bespoke_consultancy_explanations %}

        <div class="w-100 w-33-ns ph2">
          <div class="bg-{{ item.background }} pa3 equal-height-column">
            <h3>{{ item.title }}</h3>
            <p class="pb4">{{ item.text }}</p>
          </div>
        </div>

      {% endfor %}
    </div>

    <div class="ph3 mt4 mb5">
      <div class="bg-white pv3">
        <p class="tc fw7">A few of the charities who have worked with us on tailor-made projects</p>

        <div class="flex flex-wrap">
          {% for item in site.data.bespoke_project_orgs %}

            <div class="w-33-ns w-100 ph5-m ph3 pb4 pt3">

              {% include image_block_link.html
                         link=item.link
                         image=item.image_url
                         alt=item.alt
                         height="100px"
                         external="true" %}

            </div>

          {% endfor %}
        </div>
      </div>
    </div>

    <h2 class="tc f3">Case Studies</h2>
    <div class="flex flex-wrap ph3">
      {% for item in charities_text.bespoke_case_studies %}

        <div class="w-100 w-50-ns">
          <div class="ph4 pb4 bg-white">
            <div class="ph4 pv4 ph5-m">
              {% include image_block.html
                         image=item.image
                         alt=item.title
                         height="150px" %}
            </div>

            <p class="ttu fw7">Case study</p>
            <p class="fw7 f4">{{ item.title }}</p>
            <div>{{ item.text | markdownify }}</div>
          </div>
        </div>

      {% endfor %}
    </div>
  </div>
</div>

<div class="measure center tc pt4 pb5">
  <h2 class="tc f4 center">Interested in one of our core funded programmes? Or wondering how digital can help your charity tackle tough social challenges?</h2>

  <div class="mw5 center">
    {% include button.html
               text="Get in touch"
               link="mailto:hello@wearecast.org.uk"
               inline="true" %}
  </div>
</div>
