---
layout: default
title: For Funders
permalink: /for-funders
nav_highlight: /for-funders
---

{% assign funders_text = site.data.for_funders_text %}

<div class="bg-all-hands cover bg-top ph3 ph5-ns pv5 pv6-ns">
  <div class="bg-navy pv3 ph4 mw6 ml4-ns">
    <h2 class="teal">Helping funders to incorporate digital into their grant-making strategy, programmes and practices</h2>
  </div>
</div>

<div class="mw7 center pv4 ph3">
  <h2 class="teal f3 tc">Supporting Funder+ Programmes</h2>
  <p class="measure tc center">{{ funders_text.building_programmes }}</p>
</div>

<div class="bg-navy pt4 pb5">

  <div class="mw7 center mt5 pb5 ph3">
    <div class="bg-white pa4">
      <div class="measure center">

        {% include image_block.html
          image=site.data.logos.funded_by_comic.image_url
          height="100px" %}
        <div>{{ funders_text.funded_programmes.case_study | markdownify }}</div>

      </div>
    </div>
  </div>
</div>

<div class="mw7 center pv4 ph3">
  <h2 class="teal f3 tc">Supporting the assessment of digital projects</h2>
  <p class="measure tc center">Drawing on its extensive experience of funding tech for good projects, CAST supports funders in assessing and supporting digital projects.</p>
</div>

<div class="bg-navy pt4 pb5">
  <h2 class="white tc f3">Helping funders use digital for more effective grant-making</h2>
  <p class="white tc">CAST supports funders to apply digital technology to improve their assessment, monitoring and management of grants.</p>
  <div class="mw7 center pv4 ph3">
    <div class="bg-white pa4">
      <div class="measure center">

        {% include image_block.html
          image=site.data.logos.esmee
          height="100px" %}
          <div>{{ funders_text.digital_capabilities.case_study | markdownify }}</div>

        </div>
    </div>
  </div>
</div>

<div class="mw7 center pt4 pb5 ph3">
  <h2 class="tc f4 mw6 center">Interested in knowing more about how we help funders deliver successful programmes, or any of our other work with funders?</h2>

  <p class="tc f4 red fw7 mt4">Get in touch</p>
  <div class="tc mw6 center">
    {% include button.html
               text="hello@wearecast.org.uk"
               inline="true"
               link="mailto: hello@wearecast.org.uk?subject=funder enquiry" %}
  </div>
</div>
