---
layout: default
permalink: /partners-and-network
nav_highlight: /partners-and-network
---

{% assign pn_text = site.data.partners_and_network_text %}

<div class="bg-audience bg-bottom cover bg-top ph5 pv6">
  <div class="bg-navy pv3 ph4 mw6 ml4-ns">
    <h2 class="teal">Supporting and contributing towards the Tech For Good community</h2>
  </div>
</div>

<div class="mw7 center pt5 pb5 ph3 ph1-ns">
  <h2 class="teal tc f3 mt0">Get involved in the Tech For Good community</h2>

  <div class="flex flex-wrap">
    {% for item in pn_text.activities %}
      <div class="w-100 w-33-ns pa3 tc flex flex-column justify-between">
        <h3 class="teal">{{ item.title }}</h3>
        <p>{{ item.text }}</p>

        <div class="ph2">
          {% include inverted_button.html
             text=item.cta
             link=item.link
             alt=item.alt
             external="true" %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class="bg-green pv5 ph3">
  <div class="mw7 center tc">
    <h2 class="white f3 mt0">Our clients and supporters</h2>
    <p class="white measure center">{{ pn_text.supporters_blurb }}</p>

    <div class="flex flex-wrap mt4 mb5 pa4 bg-white">
      {% for item in site.data.clients_and_supporters %}

        <div class="w-50 w-25-ns pa3">
          {% include image_block_link.html
             link=item.link
             image=item.image_url
             alt=item.alt
             height="100px"
             external="true" %}
        </div>

      {% endfor %}
    </div>
  </div>
</div>
