---
layout: default
permalink: /team
nav_highlight: /team
---

<div class="bg-all-hands cover bg-top ph5 pv6">
  <div class="bg-navy pv3 ph4 mw6 ml4-ns">
    <h2 class="teal">We're a multi disciplinary team of digital experts with decades of experience</h2>
  </div>
</div>

<div class="mw7 center pv5 ph3">
  <h2 class="teal f3 tc mb5 mt0">The CAST team</h2>

  <div class="flex flex-wrap">
    {% for item in site.data.team %}

      <div class="w-50 w-25-ns tc mb4">
        {% include image_block.html
                   image=item.image_url
                   alt=item.name
                   height="100px" %}

        <h3 class="teal mb2">{{ item.name }}</h3>
        <h4 class="teal f7 ttu mt0">{{ item.job_title }}</h4>
        <p>{{ item.description }}</p>
      </div>

    {% endfor %}
  </div>
</div>

<div class="bg-gold pv5 ph3">
  <div class="mw7 center">
    <h2 class="white f3 tc mb5">Our Board</h2>

    <div class="flex flex-wrap bg-white pa5-ns pa4 mb5">
      {% for item in site.data.board %}

        <div class="w-50 w-33-ns tc mb4">
          {% include image_block.html
                     image=item.image_url
                     alt=item.name
                     height="100px" %}
          <h3 class="teal mb2">{{ item.name }}</h3>
          <p>{{ item.description }}</p>
        </div>

      {% endfor %}
    </div>
  </div>
</div>
