<nav class="flex-m justify-between items-center bg-teal white">

  <a href="{{ site.url }}" class="db ml3">
    <div class="bg-left contain" style="background-image: url({{ site.logo_url }}); height: 90px; width: 193px"></div>
  </a>

  <ul class="mr3 dn db-m">
    {% for item in site.data.nav_titles %}

      {% if page.nav_highlight == item.url %}
        {% assign highlight_class = "menu-highlight" %}
      {% else %}
        {% assign highlight_class = "" %}
      {% endif %}

      <li class="dib">
        <a class="white no-underline relative hover-menu-highlight {{ highlight_class }} mh2 f6"
           href="{{ item.url }}">{{ item.title }}</a>
      </li>

    {% endfor %}
  </ul>

  <ul mobile-nav class="pl3 pt4 pb3 dn dn-m">
    {% for item in site.data.nav_titles %}

      {% if page.nav_highlight == item.url %}
        {% assign highlight_class = "menu-highlight" %}
      {% else %}
        {% assign highlight_class = "" %}
      {% endif %}

      <li class="db pb3">
        <a class="white no-underline relative hover-menu-highlight {{ highlight_class }} mh2 f6"
           href="{{ item.url }}">{{ item.title }}</a>
      </li>

    {% endfor %}
  </ul>
  {% include hamburger.html %}
</nav>
