<div id="mc_embed_signup">
  <form action="//wearecast.us10.list-manage.com/subscribe/post?u=a951b342ebe81b3e0d4e600c9&id=5195355831" class="validate" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" target="_blank">
    <div>
      <div class="mc-field-group">
        <input class="required w-100 pa2 f7 bn br2 mb2 outline-0" id="mce-FNAME" name="FNAME" placeholder="First name" type="text"></input>
      </div>
      <div class="mc-field-group">
        <input class="required w-100 pa2 f7 bn br2 mb2 outline-0" id="mce-LNAME" name="LNAME" placeholder="Last name" type="text"></input>
      </div>
      <div class="mc-field-group">
        <input class="required w-100 pa2 f7 bn br2 mb2 outline-0" id="mce-EMAIL" name="EMAIL" placeholder="Email address" type="email"></input>
      </div>
      <div class="clear" id="mce-responses">
        <div class="red f7 pv3" id="mce-error-response" style="display: none;"></div>
        <div class="white f7 pv3" id="mce-success-response" style="display: none;"></div>
      </div>
      <div class="clear">
        <button class="db w-100 bg-red ba2 b--red br2 pa2 white f7 bg-animate hover-bg-white hover-red" id="mc-embedded-subscribe" name="subscribe" type="submit">Subscribe</button>
      </div>
    </div>
  </form>
</div>
