body {
  margin: 0;
  font-family: var(--sans-serif);
  font-weight: 400;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--headline);
  font-weight: 700;
}

p {
  font-size: var(--font-size-6);
}

ul {
  margin: 0;
  padding: 0;
}


/* utilities */

.ba2 {
  border-style: solid;
  border-width: 2px;
}

.pointer {
  cursor: pointer;
}

.teal {
  color: var(--teal);
}

.bg-teal {
  background-color: var(--teal);
}

.w-16 {
  width: calc(100% / 6);
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

@media (--breakpoint-large) {
  .w-16-l { width: calc(100% / 6); }
}

@media (--breakpoint-medium) {
  .w-16-m { width: calc(100% / 6); }
}

@media (--breakpoint-not-small) {
  .w-16-ns { width: calc(100% / 6); }
}

.invert-50 {
  filter: invert(50%);
}

/* extra */

.bg-drafting {
  background-image: url(https://www.datocms-assets.com/4269/1514993151-cast-hero-image.jpg)
}

.bg-change {
  background-image: url(https://www.datocms-assets.com/4269/1514993835-cast-hero-2.jpg)
}

.bg-drawing-board {
  background-image: url(https://www.datocms-assets.com/4269/1515422991-drawing-board.jpg);
}

.bg-all-hands {
  background-image: url(https://www.datocms-assets.com/4269/1515511588-all-hands.jpg);
}

.bg-postit-1 {
  background-image: url(https://www.datocms-assets.com/4269/1515511585-postits.jpg);
}

.bg-postit-2 {
  background-image: url(https://www.datocms-assets.com/4269/1515683394-postit-2.jpg);
}

.bg-flowchart {
  background-image: url(https://www.datocms-assets.com/4269/1515686887-flowchart.jpg);
}

.bg-hello {
  background-image: url(https://www.datocms-assets.com/4269/1515770625-hello.jpg);
}

.bg-audience {
  background-image: url(https://www.datocms-assets.com/4269/1515770627-audience.jpg);
}


.menu-highlight::before,
.hover-menu-highlight:hover::before {
  background-color: #fff;
  width: 100%;
  position: absolute;
  height: 2px;
  content: "";
  bottom: -3px;
}

.divider::before {
  background-color: var(--teal);
  height: 5px;
  width: 50%;
}

.equal-height-column {
  padding-bottom: 100%;
  margin-bottom: -100%;
}

/* circles */

.circle-large {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.circle-medium {
  height: 130px;
  width: 130px;
  border-radius: 100%;
}

.circle-mini {
  height: 23px;
  width: 23px;
  border-radius: 100%;
}


/* hamburger */

.open .upper {
  transform: translateY(5px) rotateZ(135deg);
}

.open .middle {
  opacity: 0;
}

.open .lower {
  transform: translateY(-7px) rotateZ(-135deg);
}


.closed .upper {
  transform: translateY(0) rotateZ(0);
}

.closed .middle {
  opacity: 1;
}

.closed .lower {
  transform: translateY(0) rotateZ(0);
}
