body {
  margin: 0;
  font-family: var(--sans-serif);
  font-weight: 400;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--headline);
  font-weight: 400;
}

p {
  font-size: var(--font-size-6);
}


/* utilities */

.ba2 {
  border-style: solid;
  border-width: 2px;
}

.pointer {
  cursor: pointer;
}

.teal {
  color: var(--teal);
}

.bg-teal {
  background-color: var(--teal);
}

.w-16 {
  width: calc(100% / 6);
}

@media (--breakpoint-large) {
  .w-16-l { width: calc(100% / 6); }
}

@media (--breakpoint-medium) {
  .w-16-m { width: calc(100% / 6); }
}

@media (--breakpoint-not-small) {
  .w-16-ns { width: calc(100% / 6); }
}


/* extra */

.bg-drafting {
  background-image: url(https://www.datocms-assets.com/4269/1514993151-cast-hero-image.jpg)
}

.bg-change {
  background-image: url(https://www.datocms-assets.com/4269/1514993835-cast-hero-2.jpg)
}

.bg-drawing-board {
  background-image: url(https://www.datocms-assets.com/4269/1515422991-drawing-board.jpg);
}

.bg-all-hands {
  background-image: url(https://www.datocms-assets.com/4269/1515511588-all-hands.jpg);
}

.bg-postit {
  background-image: url(https://www.datocms-assets.com/4269/1515511585-postits.jpg);
}

.divider::before {
  background-color: var(--teal);
  height: 5px;
  width: 50%;
}

.equal-height-column {
  padding-bottom: 100%;
  margin-bottom: -100%;
}

.circle {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.mini-circle {
  height: 23px;
  width: 23px;
  border-radius: 100%;
}
