body {
  margin: 0;
  font-family: var(--sans-serif);
  font-weight: 400;
  line-height: 1.4;
}

.pointer {
  cursor: pointer;
}

.teal {
  color: var(--teal);
}

.bg-teal {
  background-color: var(--teal);
}

.hero-background {
  background-image: url(https://www.datocms-assets.com/4269/1514993151-cast-hero-image.jpg), url(https://www.datocms-assets.com/4269/1514993835-cast-hero-2.jpg);
  background-position: left center, right center;
  background-repeat: no-repeat, no-repeat;
  background-size: auto 100%, auto 100%;
}

.circle {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}
