---
layout: default
title: Fuse
permalink: /for-charities/fuse
nav_highlight: /for-charities
---

{% assign fuse_text = site.data.fuse_text %}

<div class="mw7 center mt3 mb4 flex">
  <div class="w-100 w-50-ns pv4 ph3">
    {% include image_block.html
               image=site.data.logos.fuse
               alt="fuse"
               height="204px" %}
  </div>

  <div class="w-100 w-50-ns pv4 ph3">
    <h2 class="teal f3">Fuse</h2>
    <div class="gray">{{ fuse_text.headline | markdownify }}</div>
    <p class="f7">next cohort starts in 2018</p>
  </div>
</div>

<div class="bg-navy pt4 pb5">
  <div class="mw7 center flex flex-wrap white">
    <div class="w-100 w-50-ns ph3">
      <h2 class="f4">What is Fuse?</h2>
      <div class="bg-teal mb4" style="height: 3px"></div>
      <div>{{ fuse_text.what_is_it | markdownify }}</div>
    </div>

    <div class="w-100 w-50-ns ph3">
      <h2 class="f4">How does it work?</h2>
      <div class="bg-teal mb4" style="height: 3px"></div>
      <div>{{ fuse_text.how_does_it_work | markdownify }}</div>
    </div>
  </div>
</div>

<div class="mw7 center">
  <h2 class="teal f3 tc mv4">What you'll be doing</h2>

  <div class="flex flex-wrap overflow-hidden">
    {% for item in fuse_text.weeks %}

      <div class="w-100 w-33-ns tc pa2 relative">
        <div class="white bg-purple left-0 right-0 relative z-5 circle-medium center flex flex-column justify-center">
          <p class="f5 ma0">WEEKS</p>
          <p class="f3 ma0">{{ item.range }}</p>
        </div>

        <div class="z-0 relative" style="margin-top: -50px">
          <div class="bg-light-gray pt4 equal-height-column">

            <p class="f4 fw7 ttu mt4 teal">Key activities</p>
            {% for activity in item.key_activities %}
              <p class="f6">{{ activity }}</p>
            {% endfor %}

            <p class="f4 fw7 ttu teal">Main outputs</p>
            {% for output in item.main_outputs %}
              <p class="f6">{{ output }}</p>
            {% endfor %}

          </div>
        </div>
      </div>

    {% endfor %}
  </div>

  <div class="mw6 f4 tc center mt4 pa2">
    {% include button.html text="Download the Fuse programme guide" %}
  </div>
</div>

<div class="bg-postit-2 bg-center cover mt5">
  <div class="mw7 center pv4 ph3">
    <div class="bg-white pa4 w-100 w-80-ns">
      <p class="f1 absolute ma0 silver" style="margin-top: -2.5rem">“</p>
      <p>{{ fuse_text.testimonial.text }} ”</p>
      <p class="f7 ma1">{{ fuse_text.testimonial.name }}</p>
      <p class="f7 ma1">{{ fuse_text.testimonial.organisation }}</p>
    </div>
  </div>
</div>

<div class="mw7 center mv4">
  <h2 class="teal f3 tc">Fuse Alumni</h2>

  <div class="flex flex-wrap mb5">
    {% for item in site.data.fuse_alumni %}
      <div class="w-50 w-25-ns pa3">

        {% include image_block_link.html
                   link=item.link
                   image=item.image_url
                   alt=item.alt
                   height="100px"
                   external="true" %}

      </div>
    {% endfor %}
  </div>

  {% assign comic = site.data.logos.funded_by_comic %}
  {% assign blf   = site.data.logos.big_lottery_fund %}
  <h2 class="teal f3 tc">Fuse is funded by</h2>
  <div class="flex mw6 center">
    <div class="w-50">
      {% include image_block_link.html
                 link=comic.link
                 image=comic.image_url
                 alt="comic relief"
                 height="100px"
                 external="true" %}
    </div>

    <div class="w-50">
      {% include image_block_link.html
                 link=blf.link
                 image=blf.image_url
                 alt="big lottery fund"
                 height="100px"
                 external="true" %}
    </div>
  </div>
</div>

<div class="bg-flowchart bg-center cover pt4 pb5">
  <div class="mw7 center">
    <h2 class="white f3 tc mb5">Fuse success stories</h2>

    {% assign success = fuse_text.success_stories %}

    <div class="flex flex-wrap">
      <div class="w-100 w-50-ns">
        <div class="ph4 pb4 bg-white">
          {% include image_block.html
                     image=site.data.logos.age_uk
                     alt="age uk"
                     height="200px" %}

          <p class="ttu fw7">Case study</p>
          <p class="fw7 f4">Age UK</p>
          <div>{{ success.age_uk | markdownify }}</div>
        </div>
      </div>

      <div class="w-100 w-50-ns">
        <div class="ph4 pb4 bg-white">
          {% include image_block.html
                     image=site.data.logos.action_for_children
                     alt="action for children"
                     height="200px" %}

          <p class="ttu fw7">Case study</p>
          <p class="fw7 f4">Action for children</p>
          <div>{{ success.action_for_children | markdownify }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mw7 center pt4 pb5">
  <h2 class="teal f3 tc">Want to take your organisation through Fuse?</h2>
  <div class="measure center tc">
    <p class="f5 fw7">{{ fuse_text.unavailable_message.head }}</p>
    <p>{{ fuse_text.unavailable_message.sub }}</p>

    <p class="tc f4 red fw7 mt4">Get in touch about Fuse</p>
    <div class="ph4 f4">
      {% include button.html
                 text="hello@wearecast.org.uk"
                 link="mailto:hello@wearecast.org.uk?subject=fuse enquiry"
                 inline="true" %}
    </div>
  </div>
</div>
