---
layout: default
title: Fellowship
permalink: /for-nonprofits/fellowship
nav_highlight: /for-nonprofits
---

{% assign fellowship_text = site.data.fellowship_text %}

<div class="mw7 center mt3 mb4 flex">
  <div class="w-100 w-50-ns pv4 ph3">
    {% include image_block.html
               image=site.data.logos.fellowship
               height="204px" %}
  </div>

  <div class="w-100 w-50-ns pv4 ph3">
    <h2 class="teal f3">Digital Fellowship</h2>
    <div class="gray">{{ fellowship_text.headline | markdownify }}</div>
    <p class="f7">next cohort starts in 2018</p>
  </div>
</div>

<div class="bg-purple pt4 pb5">
  <div class="mw7 center flex flex-wrap white">
    <div class="w-100 w-50-ns ph3">
      <h2 class="f4">What is the Digital Fellowship?</h2>
      <div class="bg-teal mb4" style="height: 3px"></div>
      <div>{{ fellowship_text.what_is_it | markdownify }}</div>
    </div>

    <div class="w-100 w-50-ns ph3">
      <h2 class="f4">How does it work?</h2>
      <div class="bg-teal mb4" style="height: 3px"></div>
      <div>{{ fellowship_text.how_does_it_work | markdownify }}</div>
    </div>
  </div>
</div>

<div class="mw7 center">
  <h2 class="teal f3 tc mv4">What you'll be doing</h2>

  <div class="tc measure center">{{ fellowship_text.what_youll_be_doing | markdownify }}</div>

  <div class="flex flex-wrap overflow-hidden">
    {% for item in fellowship_text.required.stages %}

      <div class="w-100 w-50-ns tc pa2 relative">
        <div class="white bg-green left-0 right-0 relative z-5 circle-medium center flex flex-column justify-center">
          <p class="f3 ma0 fw7">{{ forloop.index }}</p>
          <p class="f6 ma0">Required</p>
        </div>

        <div class="z-0 relative" style="margin-top: -50px">
          <div class="bg-light-gray pt5 equal-height-column pa3">
            <p class="f5 tc teal ttu fw7">{{ item.title }}</p>
            <div class="">{{ item.text | markdownify }}</div>
          </div>
        </div>
      </div>

    {% endfor %}
  </div>
  <div class="overflow-hidden ph2 mt3">
    <div class="bg-light-gray w-100">
      <p class="f5 tc teal ttu fw7 ma0 pt4">Outcomes</p>


      <div class="flex flex-wrap">
        <div class="w-100 w-50-ns ph4 pb4">
          <p class="fw7 f5">Fellows will gain</p>
          <ul class="pl4">
            {% for item in fellowship_text.required.outcomes.fellow %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="w-100 w-50-ns ph4 pb4">
          <p class="fw7 f5">In addition, their organisations will gain</p>
          <ul class="pl4">
            {% for item in fellowship_text.required.outcomes.organisation %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>
  </div>


  <div class="flex flex-wrap overflow-hidden mt5">
    {% for item in fellowship_text.optional.stages %}

      <div class="w-100 w-50-ns tc pa2 relative">
        <div class="white bg-gold left-0 right-0 relative z-5 circle-medium center flex flex-column justify-center">
          <p class="f3 ma0 fw7">{{ forloop.index | plus: 2 }}</p>
          <p class="f6 ma0">Optional</p>
        </div>

        <div class="z-0 relative" style="margin-top: -50px">
          <div class="bg-light-gray pt5 equal-height-column pa3">
            <p class="f5 tc teal ttu fw7">{{ item.title }}</p>
            <div class="">{{ item.text | markdownify }}</div>
          </div>
        </div>
      </div>

    {% endfor %}
  </div>
  <div class="overflow-hidden ph2 mt3">
    <div class="bg-light-gray w-100">
      <p class="f5 tc teal ttu fw7 ma0 pt4">Additional Outcomes</p>


      <div class="flex flex-wrap">
        <div class="w-100 w-50-ns ph4 pb4">
          <p class="fw7 f5">Fellows will gain</p>
          <ul class="pl4">
            {% for item in fellowship_text.optional.outcomes.fellow %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="w-100 w-50-ns ph4 pb4">
          <p class="fw7 f5">In addition, their organisations will gain</p>
          <ul class="pl4">
            {% for item in fellowship_text.optional.outcomes.organisation %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div class="mw6 f4 tc center mt4 pa2">
    {% include button.html
               text="Download the 2017 Digital Fellowship guide"
               inline="true" %}
  </div>
</div>

<div class="bg-handshake bg-center cover mt5">
  <div class="mw7 center pv4 ph3">
    <div class="bg-white pa4 w-100 w-80-ns">
      <p class="f1 absolute ma0 silver" style="margin-top: -2.5rem">“</p>
      <div>{{ fellowship_text.testimonial.text | markdownify }}</div>
      <p class="f7 ma1">{{ fellowship_text.testimonial.name }}</p>
      <p class="f7 ma1">{{ fellowship_text.testimonial.organisation }}</p>
    </div>
  </div>
</div>

<div class="mw7 center mt4 mb5">
  <h2 class="teal tc f3">So far, 21 charities have been through our Digital Fellowship. Here's the latest cohort:</h2>

  <div class="flex flex-wrap mb5">
    {% for item in site.data.fellowship_alumni %}
      <div class="w-50 w-25-ns pa3">

        {% include image_block_link.html
                   link=item.link
                   image=item.image_url
                   alt=item.alt
                   height="100px"
                   external="true" %}

      </div>
    {% endfor %}
  </div>
</div>

<div class="bg-postit-2 bg-center cover pt4 pb5">
  <div class="mw7 center ph3">
    <h2 class="white f3 tc mb5">Watch the video of the Fellows' thoughts on the programme</h2>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/ODAYSZXw_uE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>

<div class="mw7 center pt4 pb5">
  <h2 class="teal f3 tc">Interested in the Fellowship?</h2>
  <div class="measure center tc">
    <p class="f5 fw7">{{ fellowship_text.unavailable_message.head }}</p>
    <p>{{ fellowship_text.unavailable_message.sub }}</p>

    <p class="tc f4 red fw7 mt4">Get in touch about the Fellowship</p>
    <div class="ph4 f4">
      {% include button.html
                 text="hello@wearecast.org.uk"
                 link="mailto:hello@wearecast.org.uk?subject=fellowship enquiry"
                 inline="true" %}
    </div>

  </div>
</div>
